@{
    ViewData["Title"] = "Home Page";
}
@{
    if (ViewBag.UsuarioCookie.Correo=="Admin@Admin.com")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout3.cshtml";
    }
}

<div class="text-center">
    <h1 class="display-4">CARTELERA</h1>
    <h3 type="text">Bienvenido @ViewBag.UsuarioCookie.Nombre!</h3>
</div>
<div style="display:flex; flex-wrap:wrap; justify-content:center">
    @foreach (var item in ViewBag.Cartelera)
    {
        <a class="peliCartelera"
           asp-controller="Peliculas"
           asp-action="Details"
           asp-route-id="@item.Id">
            @item.Titulo
        </a>
    }
</div>
